{% extends "base.html" %}

{% block title %}Editar Alumno{% endblock %}

{% block content %}

<div class="container-form">
    <h2>Editar alumno</h2>

    <form method="POST">
        <label>Nombre</label>
        <input type="text" name="nombre" value="{{ alumno.nombre }}" required>

        <label>CURP</label>
        <input type="text" name="curp" value="{{ alumno.curp }}">

        <label>Número de control</label>
        <input type="text" name="numero_control" value="{{ alumno.numero_control }}" required>

        <div class="actions">
            <button type="submit" class="btn">Guardar cambios</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}
