<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Alumno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='formularios.css') }}">
</head>
<body>

<div class="container">
    <h2>Editar alumno</h2>

    <form method="POST">
        <label>Nombre</label>
        <input type="text" name="nombre" value="{{ alumno.nombre }}" required>

        <label>CURP</label>
        <input type="text" name="curp" value="{{ alumno.curp }}">

        <label>Número de control</label>
        <input type="text" name="numero_control" value="{{ alumno.numero_control }}" required>

        <div class="actions">
            <button type="submit">Guardar cambios</button>
            <a href="{{ url_for('index') }}">Cancelar</a>
        </div>
    </form>
</div>

</body>
</html>
