<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Control de Certificados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h2>Listado de alumnos</h2>

<a href="/registrar">➕ Registrar nuevo alumno</a>
<br><br>

<table>
    <tr>
        <th>Nombre</th>
        <th>CURP</th>
        <th>Número de control</th>
        <th>Acciones</th>
    </tr>

    {% for a in alumnos %}
    <tr>
        <td>{{ a.nombre }}</td>
        <td>{{ a.curp if a.curp else "No registrada" }}</td>
        <td>{{ a.numero_control }}</td>
        <td>
    <a href="{{ url_for('editar', id=a.id) }}">✏️ Editar</a> |
    <a href="{{ url_for('eliminar', id=a.id) }}"
       onclick="return confirm('¿Seguro que deseas eliminar?')">
       🗑 Eliminar
    </a>
</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
