{% extends "base.html" %}

{% block title %}Registrar Alumno{% endblock %}

{% block content %}

<div class="container-form">
    <h2>Registrar alumno</h2>

    <form method="POST">
        <label>Nombre</label>
        <input type="text" name="nombre" required>

        <label>CURP (opcional)</label>
        <input type="text" name="curp">

        <label>Número de control</label>
        <input type="text" name="numero_control" required>

        <div class="actions">
            <button type="submit" class="btn">Guardar</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}
